<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/head">
    <meta charset="UTF-8">
    <title>About The Team</title>
</head>
<body class="bg-color">
<nav th:insert="fragments/navbar"></nav>
<div class="container margin-top15">
    <h1>Meet The Team</h1>
    <div class="card">
        <img src="" alt="img">
        <h1>Jackie Dallas</h1>
        <p class="title">Software Developer</p>
        <p class="title">Full Stack Developer</p>
        <div class="social-media">
            <a href=""><i class="linkedin"></i></a>
            <a href=""><i class="github"></i></a>
        </div>
        <button class="btn">Contact</button>
    </div>
    <div class="card">
        <img src="" alt="img">
        <h1>Ian McConihay</h1>
        <p class="title">Software Developer</p>
        <p class="title">Full Stack Developer</p>
        <div class="social-media">
            <a href=""><i class="linkedin"></i></a>
            <a href=""><i class="github"></i></a>
        </div>
        <button class="btn">Contact</button>
    </div>
    <div class="card">
        <img src="" alt="img">
        <h1>Patric Noriega</h1>
        <p class="title">Software Developer</p>
        <p class="title">Full Stack Developer</p>
        <div class="social-media">
            <a href=""><i class="linkedin"></i></a>
            <a href=""><i class="github"></i></a>
        </div>
        <button class="btn">Contact</button>
    </div>
    <div class="card">
        <img src="" alt="img">
        <h1>Robert Allison</h1>
        <p class="title">Software Developer</p>
        <p class="title">Full Stack Developer</p>
        <div class="social-media">
            <a href=""><i class="linkedin"></i></a>
            <a href=""><i class="github"></i></a>
        </div>
        <button class="btn">Contact</button>
    </div>


</div>


<div th:insert="fragments/scripts"></div>


</body>
</html>