<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head">
	<head>
		<meta charset="UTF-8">
		<title>Connections</title>
	</head>
<body>
<nav th:insert="fragments/navbar"></nav>

<h3 style="margin-top: 1em">Your Friends</h3>
<div class="projects" th:each="connections : ${connection}">
	<h5 th:text="${connections.getAddedUser().getUsername()}" />
	<h3 th:text="${connections.getAddedUser().getUserProjects()[0].getTitle()}" />
	<p th:text="${connections.getAddedUser().getUserProjects()[0].getBody()}" />
	<img th:src="${connections.getAddedUser().getUserProjects()[0].getUrl()}" alt="image" width="350" height="300"/>
	<form th:action="'/connection-delete/' + ${connections.getId()}" method="POST">
		<button>Delete</button>
	</form>
</div>
<h3 style="margin-top: 1em">All Users</h3>
<form style="margin-top: 10em">
	<input  id="search-username" type="search" placeholder="Search Username" >
	<button  type="submit" id="search-username-btn">Search</button>
</form>

<!--<script>-->
<!--$('#search-username-btn').click((e) => {-->
<!--e.preventDefault();-->
<!--console.log(document.querySelector('#search-Dictionary').value)-->
<!--fetchAPIDictionary(document.querySelector('#search-username').value)-->
<!--})-->
<!--</script>-->


<div th:each="user : ${allUsers}" >
	<h5 th:text="${user.getUsername()}"></h5>
	<form th:action="@{/connection/addconnection}" th:method="post" >
		<input type="hidden" th:name="addedUser" th:value="${user.getId()}" />
		<button type="submit" class="btn btn-primary">Add Connection</button>
	</form>

</div>
<div th:insert="fragments/scripts"></div>
</body>
</html>
