<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Connections</title>
</head>
<body>
<h3>Your Friends</h3>
<div th:each="connections : ${connection}">
    <p th:text="${connections.getAddedUser().getUsername()}" />
</div>
<h3>All Users</h3>
<div th:each="user : ${allUsers}">
    <p th:text="${user.getUsername()}" />
    <form th:action="@{/views/connections}" th:method="post" th:object="${connections}">
        <input type="hidden" th:field="*{addedUser}" />
        <input type="hidden" th:field="*{ownerUser}" />
        <button type="submit">Send Friend Request</button>
    </form>
</div>

</body>
</html>