<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head">
<head>
    <meta charset="UTF-8">
    <title>Education</title>
</head>
<body>
<nav th:insert="fragments/navbar"></nav>
<div class="category" style="margin-top: 10rem">
    <div class="question"></div>
    <div class="answer"></div>
    <button class="sciButton">Science</button>
    <button class="geoButton">Geography</button>
    <button class="mathButton">Mathematics</button>
    <button class="genButton">General</button>
    <button class="langButton">Language</button>
</div>

<div th:insert="fragments/scripts"></div>
</body>
</html>