<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/head">
    <meta charset="UTF-8">
    <title>Education</title>
</head>
<body class="map-gradient">
	<nav th:insert="fragments/navbar"></nav>
	<div class="wrapper">
		<div class="education-container">
			<div class="education-corner animate__animated animate__lightSpeedInLeft">
				<h1 class="display-1 font-italic eclc etch-sketch">Learning</h1>
				<h1 class="display-1 font-italic eclc etch-sketch">Corner!</h1>
			</div>
			<div class="category animate__animated animate__lightSpeedInRight">
				<h1 class="display-6 mb-3 trivia-gen etch-sketch">Trivia Generator!</h1>
				<div class="qAndA">
					<div class="question"></div>
					<div class="answer"></div>
				</div>
				<div class="qABtnGroup">
					<button class="sciButton btn btn-dark mr-1">Science</button>
					<button class="geoButton btn btn-dark ml-1">Geography</button>
					<button class="mathButton btn btn-dark ml-1">Mathematics</button>
					<button class="genButton btn btn-dark ml-1">General</button>
					<button class="langButton btn btn-dark ml-1">Language</button>
				</div>
			
			</div>
			<div class="big-quiz-container">
				<div class="sci-quiz-container" style="width: 800px; height: 650px">
					<button class="button-53 reset-quizzes mb-5">Reset Quizzes</button>
					
					<h1 class="text-center etch-sketch">Science Quiz</h1>
					<div class="quiz-container">
						<div id="scienceQuiz"></div>
						<div class="d-flex button-group">
							<button class="btn btn-dark mr-1" id="previous-sci">Previous Question</button>
							<button class="btn btn-dark mr-1" id="next-sci">Next Question</button>
							<button id="submit-sci" class="btn btn-success mr-1">Submit</button>
							<!--					<button id="reset-sci" class="btn btn-outline-success ml-1">Reset</button>-->
						
						</div>
						<footer class="mt-1 quiz-footer">
							<p class="text-muted">All content is copyright &copy; Dr. Moku.</p>
						</footer>
						
						<div id="scienceResults"></div>
					</div>
				</div>
				<div class="tech-quiz-container" style="width: 800px; height: 650px">
					<h1 class="text-center etch-sketch">Technology Quiz</h1>
					<div class="quiz-container">
						<div id="techQuiz"></div>
						<div class="d-flex button-group">
							<button class="btn btn-dark mr-1" id="previous-tech">Previous Question</button>
							<button class="btn btn-dark mr-1" id="next-tech">Next Question</button>
							<button id="submit-tech" class="mr-1 btn btn-success">Submit</button>
						</div>
						<footer class="mt-1 quiz-footer">
							<p class="text-muted">All content is copyright &copy; Science Kids</p>
						</footer>
						<div id="techResults"></div>
					</div>
				
				</div>
				<div class="eng-quiz-container" style="width: 800px; height: 650px">
					<h1 class="text-center etch-sketch">Engineering Quiz</h1>
					<div class="quiz-container">
						<div id="engineerQuiz"></div>
						<div class="d-flex button-group">
							<button class="btn btn-dark mr-1" id="previous-engineer">Previous Question</button>
							<button class="btn btn-dark mr-1" id="next-engineer">Next Question</button>
							<button id="submit-engineer" class="mr-1 btn btn-success">Submit</button>
						</div>
						<footer class="mt-1 quiz-footer">
							<p class="text-muted">All content is copyright &copy; Science Kids</p>
						</footer>
						<div id="engineerResults"></div>
					</div>
				
				</div>
				<div class="math-quiz-container" style="width: 800px; height: 650px">
					<h1 class="text-center etch-sketch">Math Quiz</h1>
					<div class="quiz-container">
						<div id="mathQuiz"></div>
						<div class="d-flex button-group">
							<button class="btn btn-dark mr-1" id="previous-math">Previous Question</button>
							<button class="btn btn-dark mr-1" id="next-math">Next Question</button>
							<button id="submit-math" class="mr-1 btn btn-success">Submit</button>
						</div>
						<footer class="mt-1 quiz-footer">
							<p class="text-muted">All content is copyright &copy; Science Kids</p>
						</footer>
						<div id="mathResults"></div>
					</div>
				</div>
			</div>
			<div class="digital-dictionary">
				<h1 class="display-1 etch-sketch">Digital Dictionary</h1>
				<form class="dictionary-form" action="">
					<input class="mr-1" type="text" id="search-Dictionary" placeholder="Enter a word">
					<button class="button-53 dictionary-search ml-1" type="submit" id="searchDictionarybtn">Search</button>
				</form>
				<div class="definition m-3 p-3"></div>
			</div>
		</div>
		<div class="push"></div>
	</div>
	<div th:insert="fragments/footer"></div>
	<div th:insert="fragments/scripts"></div>
	<script>
	$(document).ready(function () {
		
		// education api code
		const sci = "sciencenature";
		const geo = "geography";
		const math = "mathematics";
		const gen = "general";
		const lang = "language";
		
		function fetchAPI(category) {
			
			fetch('https://api.api-ninjas.com/v1/trivia?category=' + category, {
				method: 'GET',
				headers: {'X-Api-Key': 'cIeQtdVErFokcXlopISSOA==kOfToXDSRPOshWVp'},
				contentType: 'application/json'
			})
					.then(function (response) {
						return response.json();
					})
					.then(function (data) {
						let question = data[0].question;
						let answer = data[0].answer;
						$('.question').text(question);
						$('.answer').text(answer);
					})
		}
		
		$('.sciButton').click((e) => {
			e.preventDefault();
			fetchAPI(sci)
		})
		$('.geoButton').click((e) => {
			e.preventDefault();
			fetchAPI(geo)
		})
		$('.mathButton').click((e) => {
			e.preventDefault();
			fetchAPI(math)
		})
		$('.genButton').click((e) => {
			e.preventDefault();
			fetchAPI(gen)
		})
		$('.langButton').click((e) => {
			e.preventDefault();
			fetchAPI(lang)
			
		})
		// education api code end
		
		// quiz code
		const scienceQuestions = [
			{
				scienceQuestions: 'What is the name of the molten rock that pours from volcanoes?',
				scienceAnswers: {
					a: 'Lava',
					b: 'Fire',
					c: 'Sand'
				},
				correctScienceAnswer: 'a'
			},
			{
				scienceQuestions: 'Which is not owned or created by Microsoft:',
				scienceAnswers: {
					a: 'Minecraft',
					b: 'Xbox',
					c: 'Fortnite'
				},
				correctScienceAnswer: 'c'
			},
			{
				scienceQuestions: 'The human body is what percentage of water?',
				scienceAnswers: {
					a: '25%',
					b: '60%',
					c: '2%'
				},
				correctScienceAnswer: 'b'
			},
			{
				scienceQuestions: 'What kind of animals can live on both water and land?',
				scienceAnswers: {
					a: 'Reptiles',
					b: 'Amphibians',
					c: 'Mammals'
				},
				correctScienceAnswer: 'b'
			},
			{
				scienceQuestions: 'At what temperature does water freeze?',
				scienceAnswers: {
					a: '0 degrees Fahrenheit',
					b: '20 degrees Fahrenheit',
					c: '32 degrees Fahrenheit'
				},
				correctScienceAnswer: 'c'
			},
			{
				scienceQuestions: 'What is the name for a group of snakes?',
				scienceAnswers: {
					a: 'A nest',
					b: 'A flock',
					c: 'A pod'
				},
				correctScienceAnswer: 'a'
			},
			{
				scienceQuestions: 'What chemical is added to swimming pools to stop bacteria?',
				scienceAnswers: {
					a: 'Ammonia',
					b: 'Chlorine',
					c: 'Liquid Nitrogen'
				},
				correctScienceAnswer: 'b'
			},
			{
				scienceQuestions: 'What are the blood vessels called that carry blood to the heart?',
				scienceAnswers: {
					a: 'Veins',
					b: 'Artery',
					c: 'Cells'
				},
				correctScienceAnswer: 'a'
			},
			{
				scienceQuestions: 'How many eyes does a caterpillar have?',
				scienceAnswers: {
					a: '15',
					b: '10',
					c: '12'
				},
				correctScienceAnswer: 'c'
			},
			{
				scienceQuestions: 'What is the only mammal that can fly?',
				scienceAnswers: {
					a: 'A bird',
					b: 'A bee',
					c: 'A bat'
				},
				correctScienceAnswer: 'c'
			},
			{
				scienceQuestions: 'What is the hardest substance in the human body?',
				scienceAnswers: {
					a: 'Nails',
					b: 'Tooth enamel',
					c: 'Knuckle skin'
				},
				correctScienceAnswer: 'b'
			},
			{
				scienceQuestions: 'What food group is the best source of energy?',
				scienceAnswers: {
					a: 'Carbohydrates',
					b: 'Protein',
					c: 'Fiber'
				},
				correctScienceAnswer: 'a'
			},
			{
				scienceQuestions: 'What animal has the biggest heart?',
				scienceAnswers: {
					a: 'The elephant',
					b: 'The hippopotamus',
					c: 'The blue whale'
				},
				correctScienceAnswer: 'c'
			},
			{
				scienceQuestions: 'What food group helps your body to grow and repair itself?',
				scienceAnswers: {
					a: 'Proteins',
					b: 'Carbohydrates',
					c: 'Sugars'
				},
				correctScienceAnswer: 'a'
			},
			{
				scienceQuestions: 'How many bones are there in the human body?',
				scienceAnswers: {
					a: '102',
					b: '206',
					c: '452'
				},
				correctScienceAnswer: 'b'
			},
			{
				scienceQuestions: 'True or False: Sound travels faster than light.',
				scienceAnswers: {
					a: 'True',
					b: 'False'
				},
				correctScienceAnswer: 'b'
			},
			{
				scienceQuestions: 'True or False: Sharks do not have bones.',
				scienceAnswers: {
					a: 'True',
					b: 'False'
				},
				correctScienceAnswer: 'a'
			},
			{
				scienceQuestions: 'True or False: Dolphins are herbivores.',
				scienceAnswers: {
					a: 'True',
					b: 'False'
				},
				correctScienceAnswer: 'b'
			},
			{
				scienceQuestions: 'True or False: The left side of your body is controlled by the right side of your brain.',
				scienceAnswers: {
					a: 'True',
					b: 'False'
				},
				correctScienceAnswer: 'a'
			},
			{
				scienceQuestions: 'True or False: Spiders are not insects.',
				scienceAnswers: {
					a: 'True',
					b: 'False'
				},
				correctScienceAnswer: 'a'
			}
		]
		const techQuestions = [
			{
				techQuestions: 'Solar power generates electricity from what source?',
				techAnswers: {
					a: 'The Sun',
					b: 'Water',
					c: 'The Moon'
				},
				correctTechAnswers: 'a'
			},
			{
				techQuestions: 'Did the Apple iPhone first become available in 2005, 2006, or 2007?',
				techAnswers: {
					a: '2005',
					b: '2006',
					c: '2007'
				},
				correctTechAnswers: 'c'
			},
			{
				techQuestions: 'In terms of computing, what does CPU stand for?',
				techAnswers: {
					a: 'Central Processing Unit',
					b: 'Control Power Unit',
					c: 'Circuit Panel Unit'
				},
				correctTechAnswers: 'a'
			},
			{
				techQuestions: 'True or false? Nintendo was founded after the year 1900.',
				techAnswers: {
					a: 'True',
					b: 'False'
				},
				correctTechAnswers: 'b'
			},
			{
				techQuestions: 'The Hubble Space Telescope is named after which American astronomer?',
				techAnswers: {
					a: 'James Hubble',
					b: 'Carl Hubble',
					c: 'Edwin Hubble'
				},
				correctTechAnswers: 'c'
			},
			{
				techQuestions: 'Is the wavelength of infrared light too long or short to be seen by humans?',
				techAnswers: {
					a: 'Long',
					b: 'Short'
				},
				correctTechAnswers: 'a'
			},
			{
				techQuestions: 'Firefox, Opera, Chrome, Safari, and Explorer are types of what?',
				techAnswers: {
					a: 'Hardware',
					b: 'Social Media Platforms',
					c: 'Web Browsers'
				},
				correctTechAnswers: 'c'
			},
			{
				techQuestions: 'True or false? Gold is not a good conductor of electricity.',
				techAnswers: {
					a: 'True',
					b: 'False'
				},
				correctTechAnswers: 'b'
			},
			{
				techQuestions: 'The technologically advanced humanoid robot ASIMO is made by which car company?',
				techAnswers: {
					a: 'Ford',
					b: 'Toyota',
					c: 'Honda'
				},
				correctTechAnswers: 'c'
			},
			{
				techQuestions: 'True or false? Atomic bombs work by atomic fission.',
				techAnswers: {
					a: 'True',
					b: 'False'
				},
				correctTechAnswers: 'a'
			},
			{
				techQuestions: 'In terms of computing, what does ROM stand for?',
				techAnswers: {
					a: 'Random Access Memory',
					b: 'Read Only Memory',
					c: 'Revolution Overdrive Memory'
				},
				correctTechAnswers: 'b'
			},
			{
				techQuestions: 'Did the original Sony Playstation use CDs or cartridges to play games?',
				techAnswers: {
					a: 'CDs',
					b: 'Cartridges'
				},
				correctTechAnswers: 'a'
			},
			{
				techQuestions: 'What is the Earth\'s primary source of energy',
				techAnswers: {
					a: 'Wind',
					b: 'Water',
					c: 'Solar'
				},
				correctTechAnswers: 'c'
			},
			{
				techQuestions: 'IBM is a well known computer and information technology company, what does IBM stand for?',
				techAnswers: {
					a: 'Intellectual Business Machines',
					b: 'Information Business Machines',
					c: 'International Business Machines'
				},
				correctTechAnswers: 'c'
			},
			{
				techQuestions: 'Along with whom did Bill Gates found Microsoft?',
				techAnswers: {
					a: 'Paul Allen',
					b: 'Elon Musk',
					c: 'Mark Zuckerberg'
				},
				correctTechAnswers: 'a'
			},
			{
				techQuestions: 'What science fiction writer wrote the three laws of robotics?',
				techAnswers: {
					a: 'Isaac Newton',
					b: 'Isaac Asimov',
					c: 'Bill Nye'
				},
				correctTechAnswers: 'b'
			},
			{
				techQuestions: 'True or false? In computing, keyboards are used as input devices.',
				techAnswers: {
					a: 'True',
					b: 'False'
				},
				correctTechAnswers: 'a'
			},
			{
				techQuestions: 'What does the abbreviation WWW stand for?',
				techAnswers: {
					a: 'Wind Water Wheel',
					b: 'Wild Wild West',
					c: 'World Wide Web'
				},
				correctTechAnswers: 'c'
			},
			{
				techQuestions: 'Nano, Shuffle, Classic, and Touch are variations of what?',
				techAnswers: {
					a: 'The Apple iPod',
					b: 'Zune',
					c: 'TVs'
				},
				correctTechAnswers: 'a'
			},
			{
				techQuestions: 'True or false? DNA is an abbreviation for \'Deoxyribonucleic acid\'.',
				techAnswers: {
					a: 'True',
					b: 'False'
				},
				correctTechAnswers: 'a'
			}
		]
		const engineeringQuestions = [
			{
				engineerQuestions: 'What kind of bridge is the Golden Gate Bridge in San Francisco?',
				engineerAnswer: {
					a: 'Suspension Bridge',
					b: 'Mechanical Bridge',
					c: 'Underground Bridge'
				},
				correctEngineerAnswer: 'a'
			},
			{
				engineerQuestions: 'In electricity, voltage is measured in volts while current is measured in....?',
				engineerAnswer: {
					a: 'Kelvin',
					b: 'Amperes (amps)',
					c: 'Degrees'
				},
				correctEngineerAnswer: 'b'
			},
			{
				engineerQuestions: 'The Panama Canal joins which two oceans?',
				engineerAnswer: {
					a: 'Antarctic and Gulf',
					b: 'Pacific and Indian',
					c: 'Atlantic and Pacific'
				},
				correctEngineerAnswer: 'c'
			},
			{
				engineerQuestions: 'Is a mangonel a type of catapult or bridge?',
				engineerAnswer: {
					a: 'bridge',
					b: 'catapult'
				},
				correctEngineerAnswer: 'b'
			},
			{
				engineerQuestions: 'The Hoover dam is on the border of which two U.S. states?',
				engineerAnswer: {
					a: 'Arizona and Nevada',
					b: 'New Mexico and California',
					c: 'Montana and Wyoming'
				},
				correctEngineerAnswer: 'a'
			},
			{
				engineerQuestions: 'In what country is the Taj Mahal found?',
				engineerAnswer: {
					a: 'India',
					b: 'Qatar',
					c: 'Russia'
				},
				correctEngineerAnswer: 'a'
			},
			{
				engineerQuestions: 'Did the Eiffel Tower open in 1789 or 1889?',
				engineerAnswer: {
					a: '1789',
					b: '1889'
				},
				correctEngineerAnswer: 'b'
			},
			{
				engineerQuestions: 'The Great Sphinx of Giza has the head of a human and the body of a what?',
				engineerAnswer: {
					a: 'Jaguar',
					b: 'Tiger',
					c: 'Lion'
				},
				correctEngineerAnswer: 'c'
			},
			{
				engineerQuestions: 'In terms of engineering software, what does CAD stand for?',
				engineerAnswer: {
					a: 'Computer Aided Design',
					b: 'Computer Aided Distribution',
					c: 'Computer Access Database'
				},
				correctEngineerAnswer: 'a'
			},
			{
				engineerQuestions: 'Which country gave the Statue of Liberty to the USA as a gift?',
				engineerAnswer: {
					a: 'France',
					b: 'Belgium',
					c: 'Italy'
				},
				correctEngineerAnswer: 'a'
			},
			{
				engineerQuestions: 'Who invented the light bulb?',
				engineerAnswer: {
					a: 'Nikola Tesla',
					b: 'Thomas Edison',
					c: 'Albert Einstein'
				},
				correctEngineerAnswer: 'b'
			},
			{
				engineerQuestions: 'True or False? Some planes can fly faster than the speed of sound.',
				engineerAnswer: {
					a: 'True',
					b: 'False'
				},
				correctEngineerAnswer: 'a'
			},
			{
				engineerQuestions: 'In what century was the first mechanical clock invented?',
				engineerAnswer: {
					a: 'The 13th Century',
					b: 'The 14th Century',
					c: 'The 17th Century'
				},
				correctEngineerAnswer: 'b'
			},
			{
				engineerQuestions: 'Which of the kitchen appliances was invented by accident? The stove, toaster, or microwave.',
				engineerAnswer: {
					a: 'Stove',
					b: 'Toaster',
					c: 'Microwave'
				},
				correctEngineerAnswer: 'c'
			},
			{
				engineerQuestions: 'How much did the world\'s first computer weigh?',
				engineerAnswer: {
					a: '50 tons',
					b: '50 pounds',
					c: '50 kilograms'
				},
				correctEngineerAnswer: 'a'
			},
			{
				engineerQuestions: 'Which was invented first the steam train or the bicycle?',
				engineerAnswer: {
					a: 'The steam train',
					b: 'The bicycle'
				},
				correctEngineerAnswer: 'a'
			},
			{
				engineerQuestions: 'Which was invented first the telephone or the light bulb?',
				engineerAnswer: {
					a: 'The light bulb',
					b: 'The telephone'
				},
				correctEngineerAnswer: 'b'
			},
			{
				engineerQuestions: 'True or False? Diamonds can only be found in nature.',
				engineerAnswer: {
					a: 'True',
					b: 'False'
				},
				correctEngineerAnswer: 'b'
			},
			{
				engineerQuestions: 'How long is the longest bridge?',
				engineerAnswer: {
					a: '114 kilometers',
					b: '75 kilometers',
					c: '500 kilometers'
				},
				correctEngineerAnswer: 'a'
			},
			{
				engineerQuestions: 'What was the first synthetic element created in a laboratory?',
				engineerAnswer: {
					a: 'Plutonium',
					b: 'Kryptonite',
					c: 'Technetium'
				},
				correctEngineerAnswer: 'c'
			}
			
			
		]
		const mathQuestions = [
			{
				mathQuestion: 'What is the next prime number after 7?',
				mathAnswer: {
					a: '11',
					b: '9',
					c: '8'
				},
				correctMathAnswer: 'a'
			},
			{
				mathQuestion: 'The perimeter of a circle is also known as what?',
				mathAnswer: {
					a: 'The radius',
					b: 'The circumference',
					c: 'The diameter'
				},
				correctMathAnswer: 'b'
			},
			{
				mathQuestion: '65 - 43 = ?',
				mathAnswer: {
					a: '22',
					b: '15',
					c: '21'
				},
				correctMathAnswer: 'a'
			},
			{
				mathQuestion: 'True or False? A convex shape curves outwards.',
				mathAnswer: {
					a: 'True',
					b: 'False'
				},
				correctMathAnswer: 'a'
			},
			{
				mathQuestion: 'What does the square root of 144 equal?',
				mathAnswer: {
					a: '72',
					b: '15',
					c: '12'
				},
				correctMathAnswer: 'c'
			},
			{
				mathQuestion: 'True or False? Pi can be correctly written as a fraction.',
				mathAnswer: {
					a: 'True',
					b: 'False'
				},
				correctMathAnswer: 'a'
			},
			{
				mathQuestion: 'What comes after a million, billion, and trillion?',
				mathAnswer: {
					a: 'A octillion',
					b: 'A zillion',
					c: 'A quadrillion'
				},
				correctMathAnswer: 'c'
			},
			{
				mathQuestion: '52 divided by 4 equals what?',
				mathAnswer: {
					a: '13',
					b: '12',
					c: '19'
				},
				correctMathAnswer: 'a'
			},
			{
				mathQuestion: 'What is the bigger number, a googol or a billion?',
				mathAnswer: {
					a: 'A googol',
					b: 'A billion'
				},
				correctMathAnswer: 'a'
			},
			{
				mathQuestion: 'True or False? Opposite angles of a parallelogram are equal.',
				mathAnswer: {
					a: 'True',
					b: 'False'
				},
				correctMathAnswer: 'a'
			},
			{
				mathQuestion: '87 + 56 = ?',
				mathAnswer: {
					a: '119',
					b: '143',
					c: '176'
				},
				correctMathAnswer: 'b'
			},
			{
				mathQuestion: 'How many sides does a nonagon have?',
				mathAnswer: {
					a: '19',
					b: '8',
					c: '9'
				},
				correctMathAnswer: 'c'
			},
			{
				mathQuestion: 'True or False? -2 is an integer.',
				mathAnswer: {
					a: 'True',
					b: 'False'
				},
				correctMathAnswer: 'a'
			},
			{
				mathQuestion: 'What is the next prime number after 11?',
				mathAnswer: {
					a: '17',
					b: '12',
					c: '13'
				},
				correctMathAnswer: 'c'
			},
			{
				mathQuestion: '7 x 9 = ?',
				mathAnswer: {
					a: '63',
					b: '73',
					c: '53'
				},
				correctMathAnswer: 'a'
			},
			{
				mathQuestion: 'True or False? In an isosceles triangle all sides are unequal.',
				mathAnswer: {
					a: 'True',
					b: 'False'
				},
				correctMathAnswer: 'b'
			},
			{
				mathQuestion: 'In statistics, the middle value of an ordered set of values is called what?',
				mathAnswer: {
					a: 'The sum',
					b: 'The average',
					c: 'The median'
				},
				correctMathAnswer: 'c'
			},
			{
				mathQuestion: 'What does 3 squared equal?',
				mathAnswer: {
					a: '9',
					b: '7',
					c: '15'
				},
				correctMathAnswer: 'a'
			},
			{
				mathQuestion: 'True or False? -4 is a natural number.',
				mathAnswer: {
					a: 'True',
					b: 'False'
				},
				correctMathAnswer: 'b'
			},
			{
				mathQuestion: '5 to the power of 0 equals what?',
				mathAnswer: {
					a: '0',
					b: '9',
					c: '1'
				},
				correctMathAnswer: 'c'
			}
		]
		
		const scienceQuizContainer = document.getElementById('scienceQuiz');
		const scienceResultsContainer = document.getElementById('scienceResults');
		
		const techQuizContainer = document.getElementById('techQuiz');
		const techResultsContainer = document.getElementById('techResults');
		
		const engineerQuizContainer = document.getElementById('engineerQuiz');
		const engineerResultsContainer = document.getElementById('engineerResults');
		
		const mathQuizContainer = document.getElementById('mathQuiz');
		const mathResultsContainer = document.getElementById('mathResults');
		
		function buildScienceQuiz() {
			const randomScienceQuestions = scienceQuestions.sort(() => .5 - Math.random())
			const selectedScienceQuestions = randomScienceQuestions.slice(0, 5);
			const output = [];
			
			selectedScienceQuestions.forEach((currentQuestion, questionNumber) => {
				const answers = [];
				
				for (let letter in currentQuestion.scienceAnswers) {
					answers.push(`<label>
            <input class="m-2" type="radio" name="sci-question${questionNumber}" value="${letter}">
            ${letter} :
            ${currentQuestion.scienceAnswers[letter]}
          </label>`);
				}
				output.push(`
						<div class="sci-slide">
							<div class="sciQuizQuestion">${currentQuestion.scienceQuestions}</div>
							<div class="sciQuizAnswers">${answers.join('')}</div>
						</div>
				`)
			})
			scienceQuizContainer.innerHTML = output.join('');
			scienceResultsContainer.innerHTML = '';
			
			const previousScienceButton = document.getElementById('previous-sci');
			const nextScienceButton = document.getElementById('next-sci');
			const slides = document.querySelectorAll('.sci-slide');
			let currentSlide = 0;
			
			function showScienceSlide(n) {
				slides[currentSlide].classList.remove('active-sci-slide');
				slides[n].classList.add('active-sci-slide');
				currentSlide = n;
				if(currentSlide === 0){
					previousScienceButton.style.display = 'none';
				}
				else{
					previousScienceButton.style.display = 'inline-block';
				}
				if(currentSlide === slides.length-1){
					nextScienceButton.style.display = 'none';
					$('#submit-sci').css('display', 'inline-block');
				}
				else{
					nextScienceButton.style.display = 'inline-block';
					$('#submit-sci').css('display', 'none');
				}
			}
			showScienceSlide(currentSlide)
			function showNextScienceSlide(){showScienceSlide(currentSlide + 1)}
			function showPreviousScienceSlide() {showScienceSlide(currentSlide - 1)}
			$('#next-sci').click(() => {showNextScienceSlide()})
			$('#previous-sci').click(() => {showPreviousScienceSlide()})
			
			function showScienceResults() {
				
				const answerContainers = scienceQuizContainer.querySelectorAll('.sciQuizAnswers')
				let numCorrect = 0;
				
				selectedScienceQuestions.forEach((currentQuestion, questionNumber) => {
					const answerContainer = answerContainers[questionNumber];
					const userAnswer = $(answerContainer.querySelector(`input[name=sci-question${questionNumber}]:checked`) || {}).val();
					
					if (userAnswer === currentQuestion.correctScienceAnswer) {
						numCorrect++;
						answerContainers[questionNumber].style.color = 'lightgreen';
					} else {
						answerContainers[questionNumber].style.color = 'red';
					}
					
					scienceResultsContainer.innerHTML = `<h3>${numCorrect} out of ${selectedScienceQuestions.length} questions correct.</h3>`;
					
				});
			}
			$('#submit-sci').click(() => {showScienceResults()})
			
			$('#reset-sci').click(() => {
				window.location.reload();
			})
			
			
		}
		function buildTechQuiz() {
			const output = [];
			const randomTechQuestions = techQuestions.sort(() => .5 - Math.random())
			const selectedTechQuestions = randomTechQuestions.slice(0, 5);
			
			selectedTechQuestions.forEach((currentQuestion, questionNumber) => {
				const answers = [];
				
				for (let letter in currentQuestion.techAnswers) {
					answers.push(`<label>
            <input class="m-2" type="radio" name="tech-question${questionNumber}" value="${letter}">
            ${letter} :
            ${currentQuestion.techAnswers[letter]}
          </label>`);
				}
				
				output.push(`
						<div class="tech-slide">
							<div class="techQuizQuestion">${currentQuestion.techQuestions}</div>
							<div class="techQuizAnswers">${answers.join('')}</div>
						</div>
				`)
			})
			
			techQuizContainer.innerHTML = output.join('');
			techResultsContainer.innerHTML = '';
			
			const previousTechButton = document.getElementById('previous-tech');
			const nextTechButton = document.getElementById('next-tech');
			const slides = document.querySelectorAll('.tech-slide');
			let currentSlide = 0;
			
			function showTechSlide(n) {
				slides[currentSlide].classList.remove('active-tech-slide');
				slides[n].classList.add('active-tech-slide');
				currentSlide = n;
				
				if (currentSlide === 0) {
					previousTechButton.style.display = 'none';
				} else {
					previousTechButton.style.display = 'inline-block'
				}
				
				if (currentSlide === slides.length - 1) {
					nextTechButton.style.display = 'none';
					$('#submit-tech').css('display', 'inline-block');
				} else {
					nextTechButton.style.display = 'inline-block';
					$('#submit-tech').css('display', 'none')
				}
			}
			showTechSlide(currentSlide)
			function showNextTechSlide() {showTechSlide(currentSlide + 1)}
			function showPreviousTechSlide() {showTechSlide(currentSlide - 1)}
			$('#next-tech').click(() => {showNextTechSlide()})
			$('#previous-tech').click(() => {showPreviousTechSlide()})
			
			function showTechResults(){
				const answerContainers = techQuizContainer.querySelectorAll('.techQuizAnswers')
				let numCorrect = 0;
				
				selectedTechQuestions.forEach((currentQuestion, questionNumber) => {
					const answerContainer = answerContainers[questionNumber];
					const userAnswer = $(answerContainer.querySelector(`input[name=tech-question${questionNumber}]:checked`) || {}).val();
					
					if (userAnswer === currentQuestion.correctTechAnswers) {
						numCorrect++;
						answerContainers[questionNumber].style.color = 'lightgreen';
					} else {
						answerContainers[questionNumber].style.color = 'red';
					}
					
					techResultsContainer.innerHTML = `<h3>${numCorrect} out of ${selectedTechQuestions.length} questions correct.</h3>`;
					
				});
			}
			$('#submit-tech').click(() => {showTechResults()})
			
		}
		function buildEngineerQuiz() {
			const output = [];
			const randomEngineerQuestions = engineeringQuestions.sort(() => .5 - Math.random());
			const selectedEngineerQuestions = randomEngineerQuestions.slice(0, 5);
			
			selectedEngineerQuestions.forEach((currentQuestion, questionNumber) => {
				const answers = [];
				
				for (let letter in currentQuestion.engineerAnswer) {
					answers.push(`<label>
            <input class="m-2" type="radio" name="engineer-question${questionNumber}" value="${letter}">
            ${letter} :
            ${currentQuestion.engineerAnswer[letter]}
          </label>`);
				}
				
				output.push(`
						<div class="engineer-slide">
							<div class="engineerQuizQuestion">${currentQuestion.engineerQuestions}</div>
							<div class="engineerQuizAnswers">${answers.join('')}</div>
						</div>
				`)
				
			})
			
			engineerQuizContainer.innerHTML = output.join('');
			engineerResultsContainer.innerHTML = '';
			
			const previousEngineerButton = document.getElementById('previous-engineer');
			const nextEngineerButton = document.getElementById('next-engineer');
			const slides = document.querySelectorAll('.engineer-slide');
			let currentSlide = 0;
			
			function showEngineerSlide(n) {
				slides[currentSlide].classList.remove('active-engineer-slide');
				slides[n].classList.add('active-engineer-slide');
				currentSlide = n;
				
				if (currentSlide === 0) {
					previousEngineerButton.style.display = 'none';
				} else {
					previousEngineerButton.style.display = 'inline-block';
				}
				
				if (currentSlide === slides.length - 1) {
					nextEngineerButton.style.display = 'none';
					$('#submit-engineer').css('display', 'inline-block');
				} else {
					nextEngineerButton.style.display = 'inline-block';
					$('#submit-engineer').css('display', 'none')
				}
			}
			
			showEngineerSlide(currentSlide)
			function showNextEngineerSlide() {
				showEngineerSlide(currentSlide + 1)
			}
			function showPreviousEngineerSlide() {
				showEngineerSlide(currentSlide - 1)
			}
			$('#next-engineer').click(() => {showNextEngineerSlide()})
			$('#previous-engineer').click(() => {showPreviousEngineerSlide()})
			
			function showEngineerResults() {
				const answerContainers = engineerQuizContainer.querySelectorAll('.engineerQuizAnswers')
				let numCorrect = 0;
				
				selectedEngineerQuestions.forEach((currentQuestion, questionNumber) => {
					const answerContainer = answerContainers[questionNumber];
					const userAnswer = $(answerContainer.querySelector(`input[name=engineer-question${questionNumber}]:checked`) || {}).val();
					
					if (userAnswer === currentQuestion.correctEngineerAnswer) {
						numCorrect++;
						answerContainers[questionNumber].style.color = 'lightgreen';
					} else {
						answerContainers[questionNumber].style.color = 'red';
					}
					
					engineerResultsContainer.innerHTML = `<h3>${numCorrect} out of ${selectedEngineerQuestions.length} questions correct.</h3>`;
					
				});
			}
			$('#submit-engineer').click(() => {showEngineerResults()})
			
		}
		function buildMathQuiz() {
			const output = [];
			const randomMathQuestions = mathQuestions.sort(() => .5 - Math.random());
			const selectedMathQuestions = randomMathQuestions.slice(0, 5);
			
			selectedMathQuestions.forEach((currentQuestion, questionNumber) => {
				const answers = [];
				
				for (let letter in currentQuestion.mathAnswer) {
					answers.push(`<label>
            <input class="m-2" type="radio" name="math-question${questionNumber}" value="${letter}">
            ${letter} :
            ${currentQuestion.mathAnswer[letter]}
          </label>`);
				}
				
				output.push(`
						<div class="math-slide">
							<div class="mathQuizQuestion">${currentQuestion.mathQuestion}</div>
							<div class="mathQuizAnswers">${answers.join('')}</div>
						</div>
				`)
				
			})
			
			mathQuizContainer.innerHTML = output.join('');
			mathResultsContainer.innerHTML = '';
			
			const previousMathButton = document.getElementById('previous-math');
			const nextMathButton = document.getElementById('next-math');
			const slides = document.querySelectorAll('.math-slide');
			let currentSlide = 0;
			
			function showMathSlide(n) {
				slides[currentSlide].classList.remove('active-math-slide');
				slides[n].classList.add('active-math-slide');
				currentSlide = n;
				
				if (currentSlide === 0) {
					previousMathButton.style.display = 'none';
				} else {
					previousMathButton.style.display = 'inline-block';
				}
				
				if (currentSlide === slides.length - 1) {
					nextMathButton.style.display = 'none';
					$('#submit-math').css('display', 'inline-block');
				} else {
					nextMathButton.style.display = 'inline-block';
					$('#submit-math').css('display', 'none')
				}
			}
			
			showMathSlide(currentSlide)
			function showNextMathSlide() {showMathSlide(currentSlide + 1)}
			function showPreviousMathSlide() {showMathSlide(currentSlide - 1)}
			$('#next-math').click(() => {showNextMathSlide()})
			$('#previous-math').click(() => {showPreviousMathSlide()})
			
			
			function showMathResults() {
				const answerContainers = mathQuizContainer.querySelectorAll('.mathQuizAnswers')
				let numCorrect = 0;
				
				selectedMathQuestions.forEach((currentQuestion, questionNumber) => {
					const answerContainer = answerContainers[questionNumber];
					const userAnswer = $(answerContainer.querySelector(`input[name=math-question${questionNumber}]:checked`) || {}).val();
					
					if (userAnswer === currentQuestion.correctMathAnswer) {
						numCorrect++;
						answerContainers[questionNumber].style.color = 'lightgreen';
					} else {
						answerContainers[questionNumber].style.color = 'red';
					}
					mathResultsContainer.innerHTML = `<h3>${numCorrect} out of ${selectedMathQuestions.length} questions correct.</h3>`;
					
				});
			}
			$('#submit-math').click(() => {showMathResults()})
		}
		
		buildScienceQuiz();
		buildTechQuiz();
		buildEngineerQuiz();
		buildMathQuiz();
		
		$('.reset-quizzes').click(() => {window.location.reload()})
		
		// quiz code end
		
		// dictionary code start
		const searchBar = document.getElementById("search-Dictionary");
		function fetchAPIDictionary(word) {
			fetch('https://api.api-ninjas.com/v1/dictionary?word=' + word, {
				method: 'GET',
				headers: {'X-Api-Key': 'cIeQtdVErFokcXlopISSOA==kOfToXDSRPOshWVp'},
				contentType: 'application/json'
			})
					.then(function (response) {
						return response.json();
					})
					.then(function (data) {
						console.log(data);
						// let definition = data[0].definition;
						// console.log(data)
						$('.definition').text(data.definition);
					})
		}
		
		$('#searchDictionarybtn').click((e) => {
			e.preventDefault();
			console.log(document.querySelector('#search-Dictionary').value)
			fetchAPIDictionary(document.querySelector('#search-Dictionary').value)
		})
		
		searchBar.addEventListener("submit", e => {
			fetchAPIDictionary($('#search-Dictionary').value)
		});
		// dictionary code end
		
	})
	</script>

</body>
</html>