<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head">
    <meta charset="UTF-8">
    <title>Enineering</title>
</head>
<body class="engineering-gradient">
<nav th:insert="fragments/navbar"></nav>
<div class="wrapper">
    <div class="container margin-top15">
        <h1 class="display-1 text-center etch-sketch">Engineering Information</h1>
        <div class="info-content">
            <p>From your quiz results, you have been determined to be most aligned to the Engineering category of STEM. Continue reading below for more information and links for more projects and information.</p>
            <p>The engineering category of STEM is a very technical category, with its main branches being Electrical, Mechanical, Civil, and Chemical. This category has the most overlap between the other categories of STEM. As an engineer, you will definitely use at least key ideals of the other 3 categories.</p>
            <p>For engineering projects, we would recommend starting with various Lego builds, or if you would like a harder challenge, model vehicles or buildings. Many times these models are so similar to their real world counterparts, so you will be able to understand what makes them tick.</p>

        </div>

    </div>

</div>
<div th:insert="fragments/scripts"></div>
</body>
</html>