<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
</head>
<body>
<nav th:insert="fragments/navbar"></nav>
<h1>Future Stem</h1>

<div th:each="project : ${projects}">
	<p th:text="${project.getTitle()}" />
	<p th:text="${project.getBody()}" />
	<form th:action="'/project/delete/' + ${project.getId()}"  th:method="POST">
		<button>Delete</button>
	</form>

	<form th:action="'/project/edit/' + ${project.getId()}" th:method="GET" >
		<button>Edit</button>
	</form>
</div>


</body>
</html>