<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head">
	<meta charset="UTF-8">
	<title>Home</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!--	<script>src="factAPI.js"</script>-->
</head>
<body>
<nav th:insert="fragments/navbar"></nav>
<h1>Future Stem</h1>

<div th:each="project : ${project}">
	<p th:text="${project.getTitle()}" />
	<p th:text="${project.getBody()}" />
	<img th:src="${project.getUrl()}" alt="image" width="300" height="300">
<!--	<form th:action="'/project/delete/' + ${project.getId()}"  th:method="POST">-->
<!--		<button>Delete</button>-->
<!--	</form>-->

<!--	<form th:action="'/project/edit/' + ${project.getId()}" th:method="GET" >-->
<!--		<button>Edit</button>-->
<!--	</form>-->
</div>

<div th:insert="fragments/scripts"></div>

<script>
	var category = 'sciencenature';
	$.ajax({
		method: 'GET',
		url: 'https://api.api-ninjas.com/v1/trivia?category=' + category,
		headers: { 'X-Api-Key': 'cIeQtdVErFokcXlopISSOA==kOfToXDSRPOshWVp'},
		contentType: 'application/json',
		success: function(result) {
			console.log(result);
			console.log("work pls");
		}
	});
</script>
</body>
</html>