<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<div class="box">-->
<!--    <form id="pick-form">-->
<!--        <div class="field">-->
<!--            <div class="control">-->
<!--                <button class="button" type="button" id="picker">Pick file</button>-->
<!--                <input type="hidden" id="fileupload">-->
<!--            </div>-->
<!--            <div class="control" id="nameBox"></div>-->
<!--            <div class="control" id="urlBox"></div>-->
<!--        </div>-->
<!--        <div class="field">-->
<!--            <div class="control">-->
<!--                <input class="button" type="submit" value="Submit">-->
<!--            </div>-->
<!--        </div>-->
<!--    </form>-->
<!--</div>-->
<form>
    <label for="fileupload">Select a file</label>
    <input type="hidden" id="fileupload">
    <button id="picker">Pick file</button>
    <div id="thumbnail-container"></div>
    <input type="submit" value="Submit">
</form>

</body>
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script src="index.js"></script>
</html>