<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/head">
    <meta charset="UTF-8">
    <title>Info</title>
</head>
<body class="profile-gradient">
<nav th:insert="fragments/navbar"></nav>
<div class="wrapper">
    <div class="container margin-top15">
        <h1 class="display-1 text-center etch-sketch">Info page</h1>

        <div id="team-container">
            <div class="card-container">
                <div class="info-card">
                    <div class="info-title">
                        <h1>What?</h1>
                    </div>
                    <div class="info-card-content">
                        <p class="info-p">Future STEM is an interactive and engaging platform targeted for your Future STEM
                            student.
                            Your Stem student can find engaging project ideas to do at home then choose to display
                            his/her interpretation on his/her profile so others can check them out!</p>
<!--                        <p>Privacy is of utmost importance to us at FutureStem, that being said we have you as the-->
<!--                            parent or guardian of the student to make an account in three easy steps.</p>-->

                    </div>
                </div>
                <div class="info-card">
                    <div class="info-title">
                        <h1>How?</h1>
                    </div>
                    <div class="info-card-content info-card-list">
                        <ul style="padding-left: 1.5rem; list-style: none">
                            <li class="list-something">
                                Username - This username is only displayed on your own profile and when a project is
                                posted
                            </li>

                            <li class="list-something">Email - This email address Should be of the parent or guardian of the Stem
                                student.
                            </li>
                            <li class="list-something">Password - Parent or guardian should make the password and write it down and keep
                                it in a safe
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="info-card">
                    <div class="info-title">
                        <h1>Why?</h1>
                    </div>
                    <div class="info-card-content">
                        <p class="info-p">FutureStem believes in connections. Our primary mission was to bring the parent and
                            student
                            closer together, in a way that has the parents being an active participant in the
                            students'
                            education.
                            By asking more meaningful questions about the students interests inside
                            and out of
                            the classroom.
                        </p>
<!--                        <p>FutureStem has set a short interest quiz after the signup process-->
<!--                            that you and-->
<!--                            the student can take together, in order to see which Stem pillar the student is-->
<!--                            interested in.-->
<!--                            We tend to know kids lose and gain interests, that being said the student is always-->
<!--                            welcomed to-->
<!--                            change his/her STEM pillar at any time.</p>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="push"></div>

    </div>
    <div th:insert="fragments/footer"></div>

    <div th:insert="fragments/scripts"></div>

</body>
</html>