<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/head">
	<meta charset="UTF-8">
	<title>Profile</title>
</head>
<body class="bg-color">
<nav th:insert="fragments/navbar"></nav>
<div class="container margin-top15">
	<h1 class="display-1 text-center etch-sketch">Info page</h1>
	<div class="info-content">
		<p>Future STEM is an interactive and engaging platform targeted for your Future STEM student.
			Your Stem student can find engaging project ideas to do at home then choose to display his/her interpretation on his/her profile so others can check them out!</p>
		<p>Privacy is of utmost importance to us at FutureStem, that being said we have you as the parent or guardian of the student to make an account in three easy steps.</p>
		<ol>
			<li>Username- This username is only displayed on your own profile and only the connections the student makes will be able to see this username. We advise not to use any real names first or last.</li>
			<br>
			<li>Email- This email address Should be of the parent or guardian of the Stem student.</li>
			<br>
			<li>Password- Parent or guardian should make the password and write it down or keep it in a safe file for future use. We advise to keep this password secret from the student because we will hide the parental controls behind the password you set.</li>
		</ol>
		<p>FutureStem believes in connections. Our primary mission was to bring the parent and student closer together, in a way that has the parents being an active participant in the students' education. By asking more meaningful questions about the students interests inside and out of the classroom. FutureStem has set a short interest quiz after the signup process that you and the student can take together, in order to see which Stem pillar the student is interested in. We tend to know kids lose and gain interests, that being said the student is always welcomed to change his/her STEM pillar at any time.</p>
	</div>
	
</div>

<div th:insert="fragments/footer"></div>
<div th:insert="fragments/scripts"></div>

</body>
</html>