<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head">
	<meta charset="UTF-8">
	<title>Map</title>

</head>
<body>
	<nav th:insert="fragments/navbar"></nav>
	
	<div class="map-container">
		<div>
			<h1>Activities Map</h1>
			<p>A simple map that you can use to filter categories and find activities for kids.</p>
		</div>
		<div class="d-flex mb-3">
			<select id="places-select" style="font-size: 16px; padding:4px 8px;">
				<option value="">Choose a category...</option>
				<option value="Zoo">Zoos</option>
				<option value="Aquarium">Aquariums</option>
				<option value="Wild Animal Park">Wild Animal Parks</option>
				<option value="Museum">Museums</option>
				<option value="Library">Libraries</option>
				<option value="Education">Schools</option>
				<option value="Parks and Outdoors">Parks and Outdoors</option>
			</select>
			<form action="" class="form-inline ml-5">
				<label class="mx-1" for="location-input">Location</label>
				<input class="mx-1" type="text" id="location-input" placeholder="City, State and/or Zipcode" style="width: 13rem">
				<button class="btn btn-sm btn-dark mx-1" type="submit" id="location-button">Search</button>
			</form>
		</div>
		
		<div id="map"></div>
	</div>
	
	
	<div th:insert="fragments/scripts"></div>
	<script>
		// map code start
		mapboxgl.accessToken = 'pk.eyJ1IjoiamFja2llZGFsbGFzIiwiYSI6ImNreXc0eGI3ZTAzODYyeG1zbnhyc21wOXYifQ.bl5vqXwUq_SIoY62-Bscvw';
		const mapboxKey = 'pk.eyJ1IjoiamFja2llZGFsbGFzIiwiYSI6ImNreXc0eGI3ZTAzODYyeG1zbnhyc21wOXYifQ.bl5vqXwUq_SIoY62-Bscvw';
		const arcGisKey = 'AAPKc6f35ea946a144539423779db38681abVoLuBW1wawtaCGQDc5IW7bvp-Zvckhhb5dZoncVuR9_QSXG7LEQLdCb8qipLOT_F';
		const basemapEnum = 'ArcGIS:Navigation'
		const map = new mapboxgl.Map({
			container: 'map', // container id
			style: `https://basemaps-api.arcgis.com/arcgis/rest/services/styles/${basemapEnum}?type=style&token=${arcGisKey}`, // style URL
			center: [-98.4861, 29.4252], // starting position [lng, lat]
			zoom: 9
		});
		
		map.once('load', () => {
			map.addSource('places', {
				type: 'geojson',
				data: {
					type: 'FeatureCollection',
					features: []
				}
			});
			
			map.addLayer({
				id: 'places-circle',
				source: 'places',
				type: 'circle',
				
				paint: {
					"circle-color": "hsla(200, 80%, 80%, 0.7)",
					"circle-stroke-color": "hsl(200, 80%, 40%)",
					"circle-stroke-width": 1,
					"circle-radius": 3
				}
			});
			
			map.addLayer({
				id: "places-text",
				source: "places",
				type: "symbol",
				layout: {
					"text-field": ["get", "PlaceName"],
					"text-font": ["Arial Bold"],
					"text-variable-anchor": ["left","right"],
					"text-justify": "left",
					"text-radial-offset": 0.5
				},
				paint: {
					"text-color": "hsl(200, 80%,40%)",
					"text-halo-color": "white",
					"text-halo-width": 2
				}
			})
			
			map.on('click', 'places-text', (e) => {
				const places = e.features[0];
				const location = places.properties.Place_addr;
				const term = places.properties.PlaceName;
				
				
				
				
				
				new mapboxgl.Popup()
						.setHTML(`<b>${places.properties.PlaceName}</b><br>${places.properties.Place_addr}`)
						.setLngLat(places.geometry.coordinates)
						.addTo(map);
			})
			
			map.on('mouseenter', 'places-text', () => {
				map.getCanvas().style.cursor = 'pointer';
			})
			
			map.on('mouseleave', 'places-text', () => {
				map.getCanvas().style.cursor = '';
			})
			
			showPlaces();
			
			
		});
		
		function showPlaces() {
			const authentication = new arcgisRest.ApiKey({
				key: arcGisKey
			});
			const category = document.getElementById('places-select').value;
			if(!category) {return;}
			arcgisRest
					.geocode({
						authentication,
						outFields: 'Place_addr,PlaceName',
						params: {
							category,
							location: map.getCenter().toArray().join(","),
							maxLocations: 40
						}
					})
					.then((response) => {
						map.getSource('places').setData(response.geoJson);
					})
					.catch((error) => {
						alert('There was a problem with the geocoder, see console for details.');
						console.error(error);
					})
		}
		function geocode(search, token) {
			const baseUrl = 'https://api.mapbox.com';
			const endPoint = '/geocoding/v5/mapbox.places/';
			return fetch(baseUrl + endPoint + encodeURIComponent(search) + '.json' + "?" + 'access_token=' + token)
					.then(function(res) {
						return res.json();
						// to get all the data from the request, comment out the following three lines...
					}).then(function(data) {
						return data.features[0].center;
					});
		}
		
		$('#places-select').change(() => {showPlaces()});
		$('#location-button').click((e) => {
			e.preventDefault();
			geocode($('#location-input').val(), mapboxKey)
					.then((results) => {
						map.flyTo({
							center: results,
							essential: true,
							speed: 0.5,
							zoom: 9,
							bearing: 0
						})
					})
			
		})
		// map code end
	</script>
</body>
</html>