<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head">
	<meta charset="UTF-8">
	<title>Map</title>
</head>
<body>
	<nav th:insert="fragments/navbar"></nav>
	<div class="map-container">
		<div id="map"></div>
	</div>
	<select id="places-select" style="left: 296px; top: 167px; position: absolute; font-size: 16px; padding:4px 8px;">
		<option value="">Choose a category...</option>
		<option value="Science Museum">Science Museums</option>
		<option value="School">Schools</option>
		<option value="Vocational School">Vocational School</option>
		<option value="Parks and Outdoors">Parks and Outdoors</option>
	</select>
	
	<div th:insert="fragments/scripts"></div>
	<script th:src="@{/js/map.js}"></script>
</body>
</html>