<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head">
    <meta charset="UTF-8">
    <title>Math</title>
</head>
<body class="math-gradient">
<nav th:insert="fragments/navbar"></nav>
<div class="wrapper">
    <div class="container margin-top15">
        <h1 class="display-1 text-center etch-sketch">Math Information</h1>
        <div class="info-content">
            <p>From your quiz results, you have been determined to be most aligned to the Math category of STEM. Continue reading below for more information and links for more projects and information.</p>
            <p>The math category of STEM is probably the most technical of the 4 categories. There are so many different branches within the math category, though the main ones you might have heard of are Algebra, Geometry, and Calculus. These are prevalent in any STEM category you choose, so you will definitely see these.</p>
            <p>There are infinite projects you could do with mathmatics, though if you want a base understanding of how basic math works, you could try and build an abacus with your family. An abacus is an ancient calculator that is a good way to show visually how the math process works. </p>

        </div>
    </div>


</div>
<div th:insert="fragments/scripts"></div>
</body>
</html>