<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head">
    <meta charset="UTF-8">
    <title>Science</title>
</head>
<body class="science-gradient">
<nav th:insert="fragments/navbar"></nav>
<div class="wrapper">
    <div class="container margin-top15">
        <h1 class="display-1 text-center etch-sketch">Science Information</h1>
        <div class="info-content">
            <p>From your quiz results, you have been determined to be most aligned to the Science category of STEM. Continue reading below for more information and links for more projects and information.</p>
            <p>The science category of STEM is an extremely broad category, including biology, chemistry, and astronomy! By going down the science path, there are almost unlimited things to research, and you will always have something new to discover.</p>
            <p>If you would like to start doing projects that would allow you to use more science applications, we would recommend looking into a site called Science Buddies. They have a multitude of projects for you to discover with your family. Below is a link that will take you to Science Buddies.</p>
            <p><h3><a href="https://www.sciencebuddies.org/science-fair-projects/science-projects">Click here for science projects!</a></h3></p>
        </div>

    </div>

</div>
<div th:insert="fragments/footer"></div>
<div th:insert="fragments/scripts"></div>
</body>
</html>