<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head">
    <meta charset="UTF-8">
    <title>STEM Quiz</title>
</head>
<body>
<h1>Add STEM quiz here</h1>

<p><b>1. Which of these do you prefer doing:</b><br>
    1. Legos<br>
    2. Video Games<br>
    3. Puzzles<br>
    4. Cooking<br>
    <br>
    <b>2. Do you prefer following examples or trial and error?</b><br>
    1. Examples<br>
    2. Trial and error<br>
    <br>
    <b>3. Do you like working in groups or individually?</b><br>
    1. Groups<br>
    2. Individually<br>
    <br>
    <b>4. Which homework would you prefer?</b><br>
    1. Math worksheet<br>
    2. Creative project<br>
    <br>
    <b>5. Would you rather research planets or skyscrapers?</b><br>
    1. Planets<br>
    2. Skyscrapers<br>
    <br>
    <b>6. Which describes you best?</b><br>
    1. Good communicator and listener<br>
    2. Logical, problem solver<br>
    <br>
        <b>7. Would you rather learn about gardening or how computers work?</b><br>
    1. Gardening<br>
    2. Computers<br>
</p>


</body>
</html>