<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head">
    <meta charset="UTF-8">
    <title>STEM Quiz</title>
</head>
<body>
<nav th:insert="fragments/navbar"></nav>
<div class="container margin-top15">
<!--	<h1>Add STEM quiz here</h1>-->
	<h1 class="display-1 etch-sketch mb-5">Find out which STEM category most fits you</h1>
	<!--Science = 1-->
	<!--Tech = 2-->
	<!--Engin = 3-->
	<!--Math = 4-->
	<p><b>1. Which of these do you prefer doing:</b><br>

		<input type="radio" name="hobby" id="Legos" value=3>
		<label for="Legos">Legos</label><br>
		<input type="radio" name="hobby" id="VideoGames" value=2>
		<label for="VideoGames">Video Games</label><br>
		<input type="radio" name="hobby" id="Puzzles" value=4>
		<label for="Puzzles">Puzzles</label><br>
		<input type="radio" name="hobby" id="Cooking" value=1>
		<label for="Cooking"> Cooking</label><br>
		<br>
		<b>2. Do you prefer following examples or trial and error?</b><br>

		<input type="radio" name="trial" id="Examples" value=1>
		<label for="Examples">Examples</label><br>
		<input type="radio" name="trial" id="Trial" value=2>
		<label for="Trial">Trial and error</label><br>
		<br>
		<b>3. Do you like working in groups or individually?</b><br>

		<input type="radio" name="group" id="Groups" value=3>
		<label for="Groups">Groups</label><br>
		<input type="radio" name="group" id="Individually" value=4>
		<label for="Individually">Individually</label><br>
		<br>
		<b>4. Which homework would you prefer?</b><br>

		<input type="radio" name="homework" id="Math" value=4>
		<label for="Math">Math worksheet</label><br>
		<input type="radio" name="homework" id="Project" value=1>
		<label for="Project">Creative project</label><br>
		<br>
		<b>5. Would you rather research planets or skyscrapers?</b><br>

		<input type="radio" name="study" id="Planets" value=1>
		<label for="Planets">Planets</label><br>
		<input type="radio" name="study" id="Skyscrapers" value=3>
		<label for="Skyscrapers">Skyscrapers</label><br>
		<br>
		<b>6. Which describes you best?</b><br>

		<input type="radio" name="best" id="communicate" value=1>
		<label for="communicate">Good communicator and listener</label><br>
		<input type="radio" name="best" id="logical" value=3>
		<label for="logical">Logical, problem solver</label><br>
		<br>
		<b>7. Would you rather learn about gardening or how computers work?</b><br>

		<input type="radio" name="learn" id="gardening" value=1>
		<label for="gardening">Gardening</label><br>
		<input type="radio" name="learn" id="computers" value=2>
		<label for="computers">Computers</label><br>
		<br>

		<b>8. Do you prefer working outside or inside?</b><br>
	<input type="radio" name="outside" id="outside" value=1>
		<label for="outside">Outside</label><br>
	<input type="radio" name="outside" id="inside" value=4>
		<label for="inside">Inside</label><br>
	<br>

		<b>9. Do you like seeing immediate results of your work?</b><br>
	<input type="radio" name="results" id="yes" value=2>
		<label for="yes">Yes, I like instant results</label><br>
	<input type="radio" name="results" id="no" value=4>
		<label for="no">I could wait a couple of months</label><br>
	<br>
		<b>10. Do you prefer working with words or numbers?</b><br>
	<input type="radio" name="language" id="words" value=1>
		<label for="words">Words</label><br>
	<input type="radio" name="language" id="numbers" value=4>
		<label for="numbers">Numbers</label><br>
	<input type="radio" name="language" id="both" value="2">
		<label for="both">I like some of both</label><br>
<br>
		<b>11.Do you have an active imagination?</b><br>
		<input type="radio" name="question" id="answer1" value=1>
		<label for="words">Yes, I make up games all the time</label><br>
		<input type="radio" name="question" id="answer2" value=4>
		<label for="numbers">Sometimes, only when other people do too</label><br>
		<input type="radio" name="question" id="answer3" value="2">
		<label for="both">Not really</label><br>
<br>
<!--		<b>12. ?</b><br>-->
<!--		<input type="radio" name="quest" id="answer4" value=1>-->
<!--		<label for="words">1</label><br>-->
<!--		<input type="radio" name="quest" id="answer5" value=4>-->
<!--		<label for="numbers">2</label><br>-->
<!--		<input type="radio" name="quest" id="answer6" value="2">-->
<!--		<label for="both">3</label><br>-->
<!--<br>-->
<!--		<b>13. Question 13?</b><br>-->
<!--		<input type="radio" name="quest" id="answer7" value=1>-->
<!--		<label for="words">1</label><br>-->
<!--		<input type="radio" name="quest" id="answer8" value=4>-->
<!--		<label for="numbers">2</label><br>-->
<!--		<input type="radio" name="quest" id="answer9" value="2">-->
<!--		<label for="both">3</label><br>-->
</div>
<button type="button" onclick="showResults()">Submit</button>

<div th:insert="fragments/scripts"></div>
<script>
	function showResults() {
		var number = 0;
		var hobby = parseInt(document.querySelector('input[name="hobby"]:checked').value);
		// console.log(document.querySelector('input[name="hobby"]:checked').value)
		// console.log(hobby);
		var trial = parseInt(document.querySelector('input[name="trial"]:checked').value);
		var group = parseInt(document.querySelector('input[name="group"]:checked').value);
		var homework = parseInt(document.querySelector('input[name="homework"]:checked').value);
		var study = parseInt(document.querySelector('input[name="study"]:checked').value);
		var best = parseInt(document.querySelector('input[name="best"]:checked').value);
		var learn = parseInt(document.querySelector('input[name="learn"]:checked').value);
		var outside = parseInt(document.querySelector('input[name="outside"]:checked').value);
		var results = parseInt(document.querySelector('input[name="results"]:checked').value);
		var language = parseInt(document.querySelector('input[name="language"]:checked').value);
		var question = parseInt(document.querySelector('input[name="question"]:checked').value);
		number = hobby + trial + group + homework + study + best + learn + outside + results + language + question;
		console.log(number)
		if(number <= 13) {
			window.location ="/science";
		}
		else if(number <= 25 && number > 13) {
			window.location ="/tech";
		}
		else if(number <= 31 && number > 25) {
			window.location ="/engineering";
		}
		else if(number > 31) {
			window.location ="/math";
		}
		//had to recommit
		// console.log(hobby.attributes[0].value);
		// for (var a = 0; a < hobby.length; a++) {
		//     if(hobby[a].checked)
		// 		number = number + parseInt(hobby[a].checked.value);
		// 	console.log(hobby[a].checked.value);
		// 	console.log(number);
		// }
		// console.log(parseInt(number));
		// var trial = document.getElementsByName("trial");
		// for (var i = 0; i < trial.length; i++) {
		// 	if(trial[i].checked)
		// 		number = number + parseInt(trial[i].checked.value);
		// 	console.log(trial[i].checked.value);
		// 	// console.log(number);
		// }
		// var group = document.getElementsByName("group");
		// for (var b = 0; b < trial.length; b++) {
		// 	if(group[b].checked)
		// 		number = number + parseInt(group[b].checked.value);
		// 	console.log(group[b].checked.value);
			// console.log(number);
		// }
		// document.write("It seems like you have an aptitude for Technology. Pursuing technology allows you to work on countless activities such as solving various puzzles and even creating your own games!")
	}
	//trying to push
	//wont push font
</script>
</body>
</html>