<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">



<body>
<div class="footer-basic" style="padding: 37px">
    <footer>
	    <div class="">
		    <div class="socials">
			    <ul class="footer-lists fl-socials">
				    <li><i class="bi bi-facebook"></i></li>
				    <li><i class="bi bi-instagram"></i></li>
				    <li><i class="bi bi-twitter"></i></li>
				    <li><i class="bi bi-linkedin"></i></li>
				    <li><i class="bi bi-github"></i></li>
			    </ul>
		    </div>
	    </div>
	
	    <div class="footer-categories">
		    <div class="tech-stack">
			    <h4>Technology</h4>
			    <ul class="footer-lists">
				    <li>Java</li>
				    <li>JavaScript</li>
				    <li>Maven</li>
				    <li>Spring</li>
				    <li>Thymeleaf</li>
			    </ul>
		    </div>
		    <div class="team">
			    <h4>Team</h4>
			    <ul class="footer-lists">
				    <li>Jackie Dallas</li>
				    <li>Ian McConihay</li>
				    <li>Patric Noriega</li>
				    <li>Robert Allison</li>
			    </ul>
		    </div>
		    <div class="future-stem">
			    <h4>future<span style="color: #fdef30">S</span><span style="color: #b5f72b">T</span><span style="color: #f56439;">E</span><span style="color: #a4effd">M</span></h4>
			    <p style="font-size: 10px;">Our primary mission is to bring the parent and student closer together.</p>
		    </div>
	    </div>
<!--        <div class="social"><a href="https://github.com/future-stem-codeup-capstone/future-stem"><i class="icon ion-social-github"></i></a>-->
<!--            <a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>-->
<!--        <ul class="list-inline">-->
<!--            <li class="list-inline-item"><a href="/home">Home</a></li>-->
<!--            <li class="list-inline-item"><a href="/update-account">Edit Account</a></li>-->
<!--            <li class="list-inline-item"><a href="/aboutUs">About Us</a></li>-->
<!--&lt;!&ndash;            <li class="list-inline-item"><a href="#">Terms</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>&ndash;&gt;-->
<!--        </ul>-->
<!--        <p class="copyright">FutureSTEM © 2022</p>-->
    </footer>
</div>

</body>

</html>