<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<!--<nav th:fragment="navbar"  class="navbar navbar-expand-lg navbar-light bg-transparent fixed-top" >-->
<!--	<a class="navbar-brand" href="/"><img class="stem-img" src="/images/stem-removebg.jpeg" alt="stem" width="100" height="75"></a>-->
<!--	<button  class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<nav th:fragment="navbar" class="navbar navbar-expand-lg bg-black fixed-top">
	<a class="navbar-brand" href="/"><img class="stem-img" src="images/stem-removebg.jpeg" alt="stem" width="100" height="75"></a>
	
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	
	<div class="collapse navbar-collapse justify-content-center navbar-items" id="navbarSupportedContent">
		<ul class="navbar-nav">
			
			<li class="nav-item active">
				<a sec:authorize="isAuthenticated()" class="nav-link" href="/home">Home<span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a  href="/info" class="nav-link">Info</a>
			</li>
			<li class="nav-item">
				<a sec:authorize="isAuthenticated()" href="/education" class="nav-link">Education</a>
			</li>
			<li class="nav-item">
				<a sec:authorize="isAuthenticated()" href="/map" class="nav-link">Map</a>
			</li>

			<li class="nav-item">
				<a sec:authorize="isAuthenticated()" href="/stemquiz" class="nav-link left-nav">STEM Quiz</a>
			</li>
			
			<li class="nav-item">
				<a sec:authorize="isAuthenticated()" class="nav-link right-nav" href="/connection">Connections</a>
			</li>
			<li class="nav-item">
				<a sec:authorize="isAuthenticated()" class="nav-link" href="/profile">Profile</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/aboutUs">About Us</a>
			</li>
			<li class="nav-item">
				<a sec:authorize="isAuthenticated()" class="nav-link" href="/update-account">Edit Account</a>
			</li>
			<li class="nav-item">
				<div sec:authorize="isAuthenticated()">
					<form th:action="@{/logout}" th:method="post" >
						<button class="btn-link btn"><span class="logout">Logout</span></button>
					</form>
				</div>
			</li>
			
		</ul>
		
<!--		<form class="form-inline my-2 my-lg-0">-->
<!--			<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
<!--			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
<!--		</form>-->
	</div>
</nav>
</html>