
/*Global edits start*/

html, body {
	height: 100vh;
	/*background-color: #d3d3d326;*/
}
#stem-header {
	width: 10rem;
	height: 8rem;
}
.login-h1 {
	text-align: center;
	margin-bottom: 2rem;
}
.login-container {
	width: 400px;
	margin: 0 auto;
}
.stem-container {
	display: flex;
	margin: 5rem auto;
	justify-content: center;
}

/*.stem-img {*/
/*	width: 500px;*/
/*	height: 375px;*/
/*}*/
.future-box {
	margin-left: 4rem;
	margin-right: -3rem;
	z-index: 1;

}
.future-txt {
	line-height: 2.3;
	font-size: 8.5rem;
}
.join-btn-box {
	/*display: flex;*/
	width: 300px;
	margin: 0 auto;
	justify-content: center;
}
.join-btn-container {
	/*display: block;*/
	/*margin-left: auto;*/
	/*margin-right: auto;*/
}
.hr-land {
	width: 400px;
	/*height: 10px;*/
	background-color: white;
}
.m-l-cntr {
	background-color: #fa4c56cc;
	height: 700px;
	width: 33rem;
	align-content: center;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	box-shadow: -10px 12px 6px lightgray;
	padding: 10px;


}
.vert-align-lg {
	margin: auto 0;
}
.main-content {
	width: 100%;
	height: 100vh;
	/*background-color: #d3d3d326;*/
}
.projects {
	background-color: white;
	border-radius: 10px;
	width: fit-content;
	height: fit-content;
	padding: 10px;
	margin: 40px;
	box-shadow: 5px 8px 9px lightgray;
}
.projects > * {
	padding: 1rem;
}
.random-fact {
	padding: 1rem;
	background-color: white;
	border-radius: 10px;
	width: fit-content;
	height: fit-content;
	margin: 40px;
	box-shadow: 5px 8px 9px lightgray;
}
.random-fact > * {
	padding: 1rem;
}
.margin-top15 {
	margin-top: 15rem;
}

/*Global edits end*/

@media screen and (min-width: 300px) {
	a img.stem-img {
		width: 200px;
		height: 150px;
	}
}

@media screen and (min-width: 1024px) {
	.m-l-cntr {
		height: 500px!important;
		width: 20rem!important;
	}
	.login-container {
		width: 300px!important;
	}
	.hr-land {
		width: 300px!important;
	}
	a img.stem-img {
		width: 100px;
		height: 75px;
	}


}