.profile-container {
	margin-top: 8rem;
	padding: 5rem;
}
.about-me {
	width: 500px;
	height: fit-content;
	background-color: white;
	box-shadow: 5px 8px 9px lightgray;
	border-radius: 10px;
	padding: 1rem;
}

.top-of-page {
	display: flex;
	justify-content: space-between;
}
.top-of-page > * {
	/*margin: 0 3rem;*/
}
.about-me {

}
.profile-pic {
	/*border-radius: 10px;*/
}
.hobbies-section {

}
.projects-section {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	justify-content: space-between;
	/*width: 93%;*/

}
.add-project-btn {
	display: flex;
	/*justify-content: left;*/
	/*justify-content: flex-start;*/
}
.profile-projects {
	margin-left: 0!important;
}
.user-pic {
	width: 250px;
	height: 250px;
	border-radius: 50%;
	/*border-radius;*/
}
.user-hobbies-box {
	display: flex;
	flex-wrap: wrap;
}
.user-hobbies {
	display: flex;
}
