.profile-container {
	margin-top: 4rem;
	padding: 5rem;
}
.about-me {
	width: 410px;
	height: fit-content;
	text-align: center;
	/*background-color: white;*/
	/*box-shadow: 5px 8px 9px lightgray;*/
	/*border-radius: 10px;*/
	/*padding: 1rem;*/
}

.top-of-page {
	display: flex;
	justify-content: center;
	margin-bottom: 5rem;
}
.top-of-page > * {
	/*margin: 0 3rem;*/
}
.about-me {


}
.projects-section {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	/*overscroll-behavior-x: auto;*/
	justify-content: space-between;
	width: 100%;

}
.add-project-btn {
	display: flex;
	/*justify-content: left;*/
	/*justify-content: flex-start;*/
}
.profile-projects {
	margin-left: 0!important;
	opacity: 1!important;
	transition: none!important;
	transform: none!important;

}
.user-pic {
	width: 230px;
	height: 230px;
	border-radius: 50%;
	/*border-radius;*/
}
.user-hobbies-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	/*flex-direction: row-reverse;*/
	/*position: relative;*/
	/*right: -18px;*/
}
.user-hobbies {
	display: flex;
	/*margin-top: 15px;*/
}
.add-hobby {
	border: 1px solid white;
	padding: 0;
	height: 30px;
	width: 30px;
	position: relative;
	top: 44px;
	background-color: inherit;
	border-radius: 6px;
}
.add-icon {
	font-size: 60px;
	color: white;
	padding: 0;
	position: relative;
	top: -32px;
	right: -1px;
}
.delete-hobby-btn {
	border: none;
	background-color: inherit;
	position: relative;
	top: -7px;
	left: -8px;

}
.delete-icon {
	font-size: 16px;
	color: white;
}
.top-left {

}
.delete-hobby-form {

}
.hobby-box-container {
	display: flex;
	justify-content: center;
	margin-top: 15px;
	height: 100px;
	width: 320px;
	overflow-y: auto;
	/*margin-left: auto;*/
}

.profile-add-project {
	position: relative;
	top: 0!important;
	left: 0!important;
	width: 15rem!important;
}

.hobby-header {
	text-align: center;
}
.hobby-form {
	display: flex;
	justify-content: center;
	position: relative;
	top: -45px;

}
.username {
	text-align: center;
}

.profile-pic {
	padding: 5rem;
	/*background: rgb(61 209 231 / 43%);*/
	/*box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );*/
	/*backdrop-filter: blur( 14.5px );*/
	/*-webkit-backdrop-filter: blur( 14.5px );*/
	/*border-radius: 12%;*/
	/*border: 1px solid rgba( 255, 255, 255, 0.18 );*/
	position: relative;
	top: -2px;
	left: 0;
	/*border-radius: 10px;*/
}
.user-about {
	/*background: rgba( 184, 233, 134, 0.4 );*/
	/*box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );*/
	/*backdrop-filter: blur( 4.5px );*/
	/*-webkit-backdrop-filter: blur( 4.5px );*/
	/*border-radius: 10px;*/
	/*border: 1px solid rgba( 255, 255, 255, 0.18 );*/
	width: 410px;
	height: 264px;
	position: relative;
	top: 78px;
	left: -46px;
}
.hobbies-section {
	/*z-index: -1;*/
	width: 410px;
	height: 264px;
	position: relative;
	top: 78px;
	right: -32px;
	/*background: rgba( 217, 71, 71, 0.4 );*/
	/*box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );*/
	/*backdrop-filter: blur( 4.5px );*/
	/*-webkit-backdrop-filter: blur( 4.5px );*/
	/*border-radius: 10px;*/
	/*border: 1px solid rgba( 255, 255, 255, 0.18 );*/
}



