.education-container {
	margin: 0 5rem 0;
}
.education-corner {
	position: relative;
	left: 5rem;
	top: 15rem;
}
.eclc {
	letter-spacing: 8px;
}
.corner-delay {
	--animate-delay: 2s;
}
.category {
	margin-bottom: 10rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	left: 26rem;
}
.qAndA {
	border: 1px solid black;
	border-radius: 10px;
	width: 800px;
	height: 7rem;
	margin-bottom: 1rem;
}
.qAndA > * {
	padding: 10px;
}
.qABtnGroup {
	position: relative;
	left: 135px;
}
.trivia-gen {
	position: relative;
	left: 232px;
}
.big-quiz-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.sci-quiz-container > * {
	position: relative;
	top: -6rem;
}
.digital-dictionary {
	margin-top: 5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	/*flex-wrap: wrap;*/
}
.dictionary-form {
	display: flex;
}
.dictionary-search {
	position: relative;
	top: 0!important;
	left: 0!important;
	transform: rotate(0deg) !important;

}
.definition {
	overflow-y: auto;
	background-color: white;
	width: 50%;
	height: 500px;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.sci-slide, .tech-slide, .engineer-slide, .math-slide {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 1;
	opacity: 0;
	transition: opacity 0.5s;
}
.active-sci-slide, .active-tech-slide, .active-engineer-slide, .active-math-slide {
	opacity: 1;
	z-index: 2;
}
.quiz-container {
	position: relative;
	height: 200px;
	margin-top: 40px;
}
.sci-quiz-container {
	background-color: #fce5ba;
	padding: 1rem;
	border-radius: 10px;
	margin: 0 1rem 1rem 0;
}
.tech-quiz-container {
	background-color: #a7e66b;
	padding: 1rem;
	border-radius: 10px;
	margin: 0 0 1rem 1rem;
}
.eng-quiz-container {
	background-color: #e98570;
	padding: 1rem;
	border-radius: 10px;
	margin: 1rem 1rem 0 0;
}
.math-quiz-container {
	background-color: #ace1f3;
	padding: 1rem;
	border-radius: 10px;
	margin: 1rem 0 0 1rem;
}
.sciQuizQuestion, .techQuizQuestion, .engineerQuizQuestion, .mathQuizQuestion {
	font-size: 30px;
	margin-bottom: 10px;
}
.sciQuizAnswers, .techQuizAnswers, .engineerQuizAnswers, .mathQuizAnswers {
	margin-bottom: 20px;
	text-align: left;
	display: inline-block;
}
.mathQuizAnswers label {
	display: block;
	margin-bottom: 10px;
}
.engineerQuizAnswers label {
	display: block;
	margin-bottom: 10px;
}
.techQuizAnswers label {
	display: block;
	margin-bottom: 10px;
}
.sciQuizAnswers label {
	display: block;
	margin-bottom: 10px;
}
.button-group {
	position: relative;
	top: 15rem;
}
.quiz-footer {
	position: relative;
	top: 16rem;
}
#scienceResults, #techResults, #engineerResults, #mathResults {
	position: relative;
	top: 18rem;
}


/*<!-- HTML !-->*/
/*<button class="button-53" role="button">Button 53</button>*/

/* CSS */
.button-53 {
	background-color: #3DD1E7;
	border: 0 solid #E5E7EB;
	box-sizing: border-box;
	color: #000000;
	display: flex;
	font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-size: 1rem;
	font-weight: 700;
	justify-content: center;
	line-height: 1.75rem;
	padding: .75rem 1.65rem;
	position: relative;
	text-align: center;
	text-decoration: none #000000 solid;
	text-decoration-thickness: auto;
	width: 100%;
	max-width: 460px;
	position: relative;
	cursor: pointer;
	transform: rotate(-2deg);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	top: -6rem;
	left: -17px;
}

.button-53:focus {
	outline: 0;
}

.button-53:after {
	content: '';
	position: absolute;
	border: 1px solid #000000;
	bottom: 4px;
	left: 4px;
	width: calc(100% - 1px);
	height: calc(100% - 1px);
}

.button-53:hover:after {
	bottom: 2px;
	left: 2px;
}

@media (min-width: 768px) {
	.button-53 {
		padding: .75rem 3rem;
		font-size: 1.25rem;
	}
}
