.quiz-container {
	margin-top: 10rem;
	/*position: relative;*/

}

.sci-slide, .tech-slide, .engineer-slide, .math-slide {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 1;
	opacity: 0;
	transition: opacity 0.5s;
}
.active-sci-slide, .active-tech-slide, .active-engineer-slide, .active-math-slide {
	opacity: 1;
	z-index: 2;
}
.quiz-container {
	position: relative;
	height: 200px;
	margin-top: 40px;
}
.sci-quiz-container {
	background-color: #fce5ba;
	padding: 1rem;
	border-radius: 10px;
	margin: 0 1rem 1rem 0;
}
.tech-quiz-container {
	background-color: #a7e66b;
	padding: 1rem;
	border-radius: 10px;
	margin: 0 0 1rem 1rem;
}
.eng-quiz-container {
	background-color: #e98570;
	padding: 1rem;
	border-radius: 10px;
	margin: 1rem 1rem 0 0;
}
.math-quiz-container {
	background-color: #ace1f3;
	padding: 1rem;
	border-radius: 10px;
	margin: 1rem 0 0 1rem;
}
.sciQuizQuestion, .techQuizQuestion, .engineerQuizQuestion, .mathQuizQuestion {
	font-size: 30px;
	margin-bottom: 10px;
}
.sciQuizAnswers, .techQuizAnswers, .engineerQuizAnswers, .mathQuizAnswers {
	margin-bottom: 20px;
	text-align: left;
	display: inline-block;
}
.mathQuizAnswers label {
	display: block;
	margin-bottom: 10px;
}
.engineerQuizAnswers label {
	display: block;
	margin-bottom: 10px;
}
.techQuizAnswers label {
	display: block;
	margin-bottom: 10px;
}
.sciQuizAnswers label {
	display: block;
	margin-bottom: 10px;
}
.button-group {
	position: relative;
	top: 15rem;
}
.quiz-footer {
	position: relative;
	top: 16rem;
}
#scienceResults, #techResults, #engineerResults, #mathResults {
	position: relative;
	top: 18rem;
}
