.education-container {
	margin: 0 5rem 0;
}
.education-corner {
	position: relative;
	left: 18rem;
	top: 15rem;
}
.eclc {
	letter-spacing: 8px;
}
.corner-delay {
	--animate-delay: 2s;
}
.category {
	margin-bottom: 10rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	left: 26rem;
}
.qAndA {
	border: 1px solid black;
	border-radius: 10px;
	width: 800px;
	height: 7rem;
	margin-bottom: 1rem;
}
.qAndA > * {
	padding: 10px;
}
.qABtnGroup {
	position: relative;
	left: 135px;
}
.trivia-gen {
	position: relative;
	left: 251px;
}
.big-quiz-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.reset-quizzes {
	position: relative;
	left: 18.2rem;
}

.sci-slide, .tech-slide, .engineer-slide, .math-slide {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 1;
	opacity: 0;
	transition: opacity 0.5s;
}
.active-sci-slide, .active-tech-slide, .active-engineer-slide, .active-math-slide {
	opacity: 1;
	z-index: 2;
}
.quiz-container {
	position: relative;
	height: 200px;
	margin-top: 40px;
}
.sci-quiz-container {
	background-color: #fce5ba;
	padding: 1rem;
	border-radius: 10px;
	margin: 0 1rem 1rem 0;
}
.tech-quiz-container {
	background-color: #a7e66b;
	padding: 1rem;
	border-radius: 10px;
	margin: 0 0 1rem 1rem;
}
.eng-quiz-container {
	background-color: #e98570;
	padding: 1rem;
	border-radius: 10px;
	margin: 1rem 1rem 0 0;
}
.math-quiz-container {
	background-color: #ace1f3;
	padding: 1rem;
	border-radius: 10px;
	margin: 1rem 0 0 1rem;
}
.sciQuizQuestion, .techQuizQuestion, .engineerQuizQuestion, .mathQuizQuestion {
	font-size: 30px;
	margin-bottom: 10px;
}
.sciQuizAnswers, .techQuizAnswers, .engineerQuizAnswers, .mathQuizAnswers {
	margin-bottom: 20px;
	text-align: left;
	display: inline-block;
}
.mathQuizAnswers label {
	display: block;
	margin-bottom: 10px;
}
.engineerQuizAnswers label {
	display: block;
	margin-bottom: 10px;
}
.techQuizAnswers label {
	display: block;
	margin-bottom: 10px;
}
.sciQuizAnswers label {
	display: block;
	margin-bottom: 10px;
}
.button-group {
	position: relative;
	top: 15rem;
}
.quiz-footer {
	position: relative;
	top: 16rem;
}
#scienceResults, #techResults, #engineerResults, #mathResults {
	position: relative;
	top: 18rem;
}
