<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head">
	<meta charset="UTF-8">
	<title>404 NOT FOUND</title>
</head>
<body style="margin: 1rem">
	<div class="jumbotron jumbotron-fluid frame">
		<div class="p-5">
			<div class="header-500">
				<h1 class="display-1 etch-sketch" style="color: white">
					404 Not Found
				</h1>
			</div>
			<div class="text-500">
				<p style="color: white">This page hasn't been created yet. Please navigate back home.</p>
			</div>
			<div class="go-home500">
				<form action="/home" method="get">
					<div>
						<button class="error-button"><span class="span-hover" style="color: white;">Go Home</span></button>
					</div>
				</form>
			</div>
		</div>
</div>

</body>
</html>