<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head">
	<meta charset="UTF-8">
	<title>Server Error</title>
</head>
<body style="margin: 1rem;">
	<div class="jumbotron jumbotron-fluid frame">
		<div class="p-5">
			<div class="header-500">
				<h1 class="display-1 etch-sketch" style="color: white">
					Server Error
				</h1>
			</div>
			<div class="text-500">
				<p style="color: white">You've encountered a server error, we apologize for the inconvenience, please contact our team.</p>
			</div>
			<div class="email-500">
				<form action="mailto:jackie.r.dallas@gmail.com" method="post" target="_blank">
					<button class="error-button"><span class="span-hover" style="color: white">Contact Us</span></button>
				</form>
			</div>
			<div class="go-home500">
				<form action="/home" method="get">
					<div>
						<button class="error-button"><span class="span-hover" style="color: white">Go Home</span></button>
					</div>
				</form>
			</div>
		</div>
		
		
		
	</div>
</body>
</html>